.article
  %h4 #{@article.title}
  %br
  %p
    =simple_format @article.content

-if can? :update, @article
  = link_to 'Edit', edit_article_path(@article)
-if can? :destroy, @article
  = link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }
%br
= render "comments/comments"
